*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carrusel-container{
    position: relative;
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
}

.carrusel{
    display: flex;
    transition: transform .5s ease-in-out;
}

.carrusel-item{
    min-width: 100%;
    position: relative;
}

.carrusel-item img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 16px;
    cursor: pointer;
    z-index: 10;
    transition: background .3s;
    font-size: 24px;
}

.btn-prev{
    left: 10px;
}

.btn-next{
    right: 10px;
}